# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/
build/

# Misc
.DS_Store
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/

# Data (Ignore large data dumps, but keep config)
*.json
!package.json
!**/package.json
!tsconfig*.json
!**/tsconfig*.json
!src/web/tsconfig.json
!src/web/tsconfig.node.json

# Local Environment
.local/